<template>
  <v-main>
    <v-row align="center" justify="center" class="fill">
      <v-sheet
        class="text-center pt-12"
        color="rgb(255, 0, 0, 0)"
      >
        <v-card-title class="justify-center text-h1"
          >Tracker</v-card-title
        >
        <v-card-subtitle class="text-h5 mt-1 text--darken-1"
          >Habit tracking made easy 🌱📈
        </v-card-subtitle>
        <v-card-actions class="justify-center mt-7">
          <v-btn rounded x-large color="secondary" class="pa-8 font-weight-bold gradient"
            >sign in</v-btn
          >
        </v-card-actions>
        <v-card-subtitle class="text-button"
          >no account?
          <v-btn plain class="pa-0"> sign up here</v-btn>
        </v-card-subtitle>
      </v-sheet>
    </v-row>
  </v-main>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.fill {
  height: 99vh;
}
.gradient {
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 92, 95));
}
</style>
