<template>
  <v-app>
    <WelcomeView />
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue';
import WelcomeView from '@/modules/welcome/WelcomeView.vue';

export default {
  name: 'App',

  components: {
    WelcomeView,
  },

  data: () => ({
    //
  }),
};
</script>
